#blogSection{

}
.blogTitle {
    text-align: center;
    font-family: "Press Start 2P", cursive;
    font-size: 13px;
}
.blogDate {
    text-align: center;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    color: #ffc107;
    margin-top: 12%;
}

.blog-post{
    margin: 20px;
    padding: 50px;
    border: 1px solid #f9f9f9;
    background-color: #f0f0f0;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
}