article {
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    font-family: system-ui, sans-serif;
    width: 85% !important;
    margin: auto !important;
}

.blogContentQuote {
    font-family: "Andada Pro", serif;
    text-align: center;
    font-size: 12px;
}

.blogContentTitle {
    font-size: '2.5rem';
    margin-bottom: '0.5rem';
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    font-family: "Andada Pro", serif;
}

.blogContentDate {
    color: #888;
    font-size: '1rem';
    margin-bottom: '2rem';
    text-align: center;
    font-family: "Andada Pro", serif;
    font-weight: bold;
}

.blogContentContent {
    font-size: 14px;
    line-height: 1.7;
    color: #222;
    font-family: "Andada Pro", serif;
    font-optical-sizing: auto;
}

.blogContentImage {
    float: none;
    shape-outside: 'sqaure(50%)';
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15%;
    box-shadow: 0 4px 24px rgba(0,0,0,0.15);
    margin: 5% 0 10% 15%;
}

/* Desktop */
@media (min-width: 992px) {
.blogContentImage {
    float: right;
    shape-outside: sqaure(50%);
    width: 400px;
    height: 400px;
    margin: 0 0 1em 2em;
}
.blogContentContent {
    font-size: 22px;
    margin: 4%;
}
}