#statSection {
    width: 100%;
  }
.statBackground {
  background-color: white;
  width: 70%;
  text-align: center;
  border-radius: 0.375rem;
}
.statTitle {
    font-family: "Press Start 2P", cursive;
    text-align: center;
    padding: 15% 10%;
    font-size: 28px;
    letter-spacing: 2px;
    text-decoration: underline;
    color: #FFC107;
 }

 .statText {
    font-size: 10px;
 }

  
  /* Desktop */
  @media (min-width: 992px) {
    .statTitle {
      letter-spacing: 10px;
      padding: 2% 10%;
      font-size: 28px;
  
    }
}
  